@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700,300);

.loader {
  text-align: center;
  font-family: helvetica, arial, sans-serif;
  font-size: larger;
  text-transform: uppercase;
  font-weight: 900;
  color: #3c1a5b;
  letter-spacing: 0.2em;
}

body{
  background: #fafafa;
  text-align: center;
}
svg{
  width: 100px;
  height: 135px;
  display:inline-block;
}
h1{
  color:#3c1a5b;
  font-size: 100px;
  float: center;
}
input[type=button]{
  width:18%;
  height:40px;
  text-align: center;
  font-family: helvetica, arial, sans-serif;
  background-color: transparent;
  text-transform: uppercase;
  border: none;
  font-weight: 200;
  letter-spacing: 0.2em;
  color:#3c1a5b;
  font-size:small;
}